h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
.header{
	background:#00C78A;
	padding:1em 0;
}
.logo{
	float: left;
}
.logo h1{
	color:#FFFFFF;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0;
    font-family:'幼圆'，sans-serif;
    
}
.top_right{
	float:right;
	color: #ffffff;
	margin-top:5px;
}
.top_right ul{
	padding:0;
	list-style:none;
}
.top_right ul li{
	display: inline-block;
	margin-right: 10px;
}
.top_right ul li:last-child{
	margin-right: 0;
}
.top_right ul li a{
	text-align:center;
	padding: 0px 4px;
	text-transform:uppercase;
	font-size:15px;
	font-family:'微软雅黑';
	display:block;
	color:#ffffff;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.top_right ul li a:hover{
	color:#ffcc33;
	text-decoration: none;
}
.bottom_left{
	padding:0;
	float: left;
}
.bottom_right{
   padding:0;
}
.panel ul
{
    padding:0px;
    margin:0px;
    list-style:none;
}

.news-item
{
    padding:4px 4px;
    margin:0px;
    border-bottom:1px dotted #555; 
}

.main-left {
    position: absolute;
    top: 67;
    bottom: 0;
    left: 0;
    width: 33.33333333333333%;
    z-index: 10;
}
.main-left {
    background: #267cb7;
}

.imglist{  overflow:hidden; }
.imglist ul{ margin:0 0 0 -15px; padding:0; *padding-bottom:15px; *display:inline-block }
.imglist ul:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.imglist ul li{ float:left; margin:0 0 15px 15px; width: 177px;}
.imglist ul li .details{ position:relative; border:1px solid #eee; box-shadow:0 0 3px 0 rgba(0, 0, 0, 0.1); background:#fff; }
.imglist ul li .details .check{ position:absolute; top:0px; right:0px; padding:5px; border-left:1px solid #eee; border-bottom:1px solid #eee; background:#fff; }
.imglist ul li .details .absbg{ position:absolute; left:0px; top:95px; width:100%; height:70px; background:#000; filter:alpha(opacity=20); opacity:0.2; }
.imglist ul li .details .pic{ width:100%; height:165px; overflow:hidden; }
.imglist ul li .details .pic img{ cursor:pointer; }
.imglist ul li .details h1{ position:absolute; display:block; padding:10px 20px; left:0px; top:95px; right:0; height:50px; border-bottom:1px solid #eee; }
.imglist ul li .details h1 span{ display:block; color:#fff; font-size:14px; font-weight:bold; height:50px; line-height:25px; text-overflow:ellipsis; overflow:hidden; }
.imglist ul li .details h1 span a{ color:#fff; text-decoration:none; }
.imglist ul li .details .remark{ display:block; margin:10px 15px; padding:0;     height: 14px;color:#666; font-size:12px; line-height:12px; text-overflow:ellipsis; overflow:hidden;font-family:'微软雅黑';font-weight:bold; text-align:center;}

.imglist ul li .details.nopic h1{ display:block; position:static; top:0px; padding:17px 20px; }
.imglist ul li .details.nopic h1 span a{ color:#2a72c5 }
.imglist ul li .details.nopic .remark{ display:block; margin:10px 15px; padding:0; height:140px; color:#666; font-size:12px; line-height:12px; text-overflow:ellipsis; overflow:hidden; }
.userManagerAll{ height: 100%; width: 100%;margin-top:70px; } 
.leftside{  float: left; height: 100%;  margin: 0px; overflow-y:auto;position:fixed;} 
.rightside{ background: white; height: 100%; width:100%; align:right;padding-left: 330px;} 
.barside{height:100%;margin:0px;overflow-y: auto;}
.lineside{padding-top:10px;height:100%;magin:0px;overflow-y:auto;}
.title{background:#00C78A;height:30px;}
.title span {font-family: '微软雅黑';font-size:15px;font-weight:bold;padding-left:10px;line-height:30px;}
.barside{height:500px;}
.barside1{height:500px;margin-top:10px;margin-bottom:10px;}
.barside2{height:470px;}